<template>
  <div>
    <div>
      <label for="projectName">Proekt nomi:</label>
      <input type="text" id="projectName" v-model="projectTitle" @input="updateTitle" />
    </div>
    <div>
      <label for="taskInput">Yangi task:</label>
      <input type="text" id="taskInput" v-model="newTask" @keyup.enter="addTask" />
    </div>
    <ul class="task-list">
      <li v-for="(task, index) in tasks" :key="index" class="task" :class="{ 'done': task.done }">
        <strong>{{ index + 1 }}</strong>: {{ task.title }}
        <span style="margin-left: 30px;">
          <button style="background-color: #21BA45; margin-right: 10px;" @click="toggleTask(index)">{{ task.done ?
            'Bajarilmagan' :
            'Bajarilgan'
          }}</button>
          <button style="background-color: #C10015;" @click="removeTask(index)">O'chirish</button>
        </span>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';

interface Task {
  title: string;
  done: boolean;
}

interface ProjectData {
  projectTitle: string;
  tasks: Task[];
}

const projectTitle = ref('');
const newTask: any = ref('');
const tasks = ref<Task[]>([]);

const addTask = () => {
  if (newTask.value.trim() !== '') {
    tasks.value.push({ title: newTask.value, done: false });
    newTask.value = '';
  }
};

const removeTask = (index: number) => {
  tasks.value.splice(index, 1);
};

const toggleTask = (index: number) => {
  tasks.value[index].done = !tasks.value[index].done;
};

const updateTitle = () => {
  document.title = projectTitle.value;
};

const saveProject = () => {
  const projectData: ProjectData = {
    projectTitle: projectTitle.value,
    tasks: tasks.value,
  };
  localStorage.setItem('project', JSON.stringify(projectData));
};

const loadProject = () => {
  const projectDataStr = localStorage.getItem('project');
  if (projectDataStr) {
    const projectData: ProjectData = JSON.parse(projectDataStr);
    projectTitle.value = projectData.projectTitle;
    tasks.value = projectData.tasks;
  }
};

watch(projectTitle, () => {
  document.title = projectTitle.value;
  saveProject();
});

watch(tasks, () => {
  saveProject();
});

onMounted(() => {
  loadProject();
});
</script>

<style lang="scss">
html {
  background-color: bisque !important;
}


body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: bisque;
}

input {
  background-color: white;
  outline: none;
  border: none;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #999;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.done {
  text-decoration: line-through;
  color: #999;
}
</style>